._57{ background:url("57.png") top left no-repeat; }
.练习如梦令_r2_c8{ width:11px; height:12px; background-position:-10px -10px; }
.练习如梦令_r2_c6{ width:11px; height:12px; background-position:-10px -32px; }
.练习如梦令_r2_c4{ width:11px; height:12px; background-position:-10px -54px; }
.练习如梦令_r2_c2{ width:11px; height:12px; background-position:-10px -76px; }

